.mainBody {
    background-color: #A1C298;
    height: 713px;
}

.circle1 {
    margin-left: 900px;
    margin-top: 200px;
    background-color: #fa7070c3;
    border-radius: 50%;
    height: 900px;
    width: 900px;
    position: absolute;
}

.circle1 img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: 135px;
    margin-top: 20px;
}

.circle2 {
    margin-left: -100px;
    margin-top: -50px;
    height: 600px;
    width: 600px;
    background-color: #c6ebc558;
    border-radius: 50%;
    position: absolute;
}

.text {
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
    line-height: 1.2;
    font-family: Roboto;
    color: oldlace;
    font-size: 70px;
    padding: 150px 0 0 100px;
}

@media screen and (max-width: 700px) {
    .mainBody {
        height: 100vh;
        width: 100vw;
    }

    .circle2 {
        width: 400px;
        height: 400px;
    }

    .text {
        margin-top: 10px;
        margin-left: -70px;
        font-size: 300%;
    }

    .circle1 {
        height: 500px;
        width: 500px;
        margin-top: 250px;
        margin-left: -90px;
    }

    .circle1>img {
        margin-top: 100px;
        margin-left: 150px;
        height: 300px;
        width: 300px;
    }
}