body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    html.touch body {
        overflow: hidden;
    }

    body {
        height: 100%;
        width: 100%;
    }
}